
<div id='headerBar'>
    <%# logo to go here %>
    <%= link_to image_tag("https://via.placeholder.com/50"), root_path, class: 'homeButton', :data => {turbo: false} %> 
    <h1><%= @user.name %>'s Settings</h1>
    <%= link_to 'Log Out', auth_logout_path, class: 'logoutButton' %>
</div>
<div id='settings-page'>
    <h1>Steam Account</h1>

    <%= render 'launcher', client: 'steam' %>
    
</div>

