
<div id='headerBar'>
    <%# logo to go here %>
    <div class='side-section'>
        <%= link_to image_tag('small-logo.png'), root_path, class: 'homeButton', :data => {turbo: false} %> 
    </div>
    <%= image_tag('logo-no-icon.png', class: 'header-logo') %>
    <div class='side-section'>
        <%= link_to 'Log Out', auth_logout_path, class: 'logoutButton' %>
    </div>
</div>
<div id='settings-page'>
    <h1>Steam Account</h1>

    <%= render 'launcher', client: 'steam' %>
    
</div>

