/* Pre-login sample page */
.login_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #592a03;
    width: 100vw;
    height: 100vh;
    color: #ff9b5f;
}
.sampleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sampleSection, h5 {
    margin: 0;
}
.copy {
    color:#ff9b5f;
    text-decoration: none;
}
.loginButton {
    background-color: #592a03;
    border: none;
    cursor: pointer;
}
.sample-chat {
    width: 80%;
    min-width: 500px;
    display: flex;
    flex-direction: column;

}
.sample-chat :first-child {
    margin-top: 0;
}
.left-side {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -30px;;
}
.right-side {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -30px;;
}
.right-side img {
    filter: contrast(5);
}
.sample-profile {
    width: 100px;
}
