/* Pre-login sample page */
.login_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #112;
    width: 100vw;
    height: 100vh;
    color: #9be;
}
.main-logo {
    margin-top: 2em;
    width: 70vw;
}
.sampleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sampleSection, h5 {
    margin: 0;
}
.copy {
    color:#9be;
    text-decoration: none;
}
.loginButton {
    background-color: #112;
    border: none;
    cursor: pointer;
}
.sample-chat {
    width: 60%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    color: rgba(100,150,255,0.7);
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
    border-radius: 50px;
}
.sample-chat p {
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 0.2em 0.5em;
    margin: 0 5px;
}
.left-side {
    align-self: flex-start;
    display: flex;
    align-items: center;    
}
.right-side {
    align-self: flex-end;
    display: flex;
    align-items: center;
}
.right-side img {
    filter: contrast(5);
}
.sample-profile {
    width: 50px;
}
